@using SharpLoad.Dashboard.Client.ViewModels

<tr>
    <td>
        <input class="form-control" type="text" @bind="Path">
    </td>
    <td>
        <select @bind="Method"></select>
    </td>
    <td>
        <input class="form-control" type="text" @bind="Body">
    </td>
    <td>
        <input class="form-control" type="text" @bind="BulkHeaders">
    </td>
</tr>

@code {

    [Parameter]
    public string Path { get; set; }
    [Parameter]
    public ViewModels.Enums.HttpMethod Method { get; set; }
    [Parameter]
    public string Body { get; set; }
    [Parameter]
    public string BulkHeaders { get; set; }
}
