@using SharpLoad.Dashboard.Client.ViewModels
<tbody>
    @foreach (var item in Requests)
    {
        <tr>
            <td>
                <input class="form-control" type="text" @bind="item.Path">
            </td>

            <td>
                <input class="form-control" type="text" @bind="item.Body">
            </td>
            <td>
                <InputSelect class="form-control" @bind-Value="item.Method">
                    <option value="Get">Get</option>
                    <option value="Post">Post</option>
                    <option value="Put">Put</option>
                    <option value="Patch">Patch</option>
                    <option value="Delete">Delete</option>
                </InputSelect>
            </td>
            <td>
                <input class="form-control" type="text" @bind="item.BulkHeaders">
            </td>
            <td>
                <input class="form-control" type="text" @bind="item.ContentType">
            </td>
        </tr>
    }

</tbody>

@code {
    [Parameter] 
    public IReadOnlyList<RequestViewModel> Requests { get; set; }
}
