################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SharpLoad
/SharpLoad.Application/bin/Debug/netcoreapp3.1
/SharpLoad.Application/obj
/SharpLoad.Client/bin/Debug/netcoreapp3.1
/SharpLoad.Client/obj
/SharpLoad.UnitTests/obj
