@page "/addloadtestscript"

@using System.Text.Json
@using System.Text
@using SharpLoad.Dashboard.Client.ViewModels
@using SharpLoad.Dashboard.Client.Pages.Components

@inject HttpClient Client
@inject NavigationManager Navigator

<h3>Add a New Load Test Script</h3>

<div class="d-flex flex-row bd-highlight">

    <EditForm Model="@model">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <div class="form-group">
            <label>Nome:</label>
            <input class="form-control" type="text" @bind="model.Name">
        </div>
        <div class="form-group">
            <label>Server Uri Base:</label>
            <input class="form-control" type="text" placeholder="http://localhost;https://localhost:5000" @bind="model.BaseServerAddress">
        </div>
        <div class="form-group">
            <label>Max Simultaneous User Clients:</label>
            <input class="form-control" type="number" @bind="model.MaxSimultaneousClients">
        </div>
        <div class="form-group">
            <label>Spawn Rate:</label>
            <input class="form-control" type="number" @bind="model.SpawnRate">
        </div>

        <div class="form-group">
            <label>Requests:</label>
            <br />
            <table class="table">
                <thead>
                    <tr>
                        <th>Endpoint Path</th>
                        <th>Body Content</th>
                        <th>Methods</th>
                        <th>Headers</th>
                        <th>Content Type</th>
                    </tr>
                </thead>
                @TableRows
            </table>
            <div class="d-flex flex-column-reverse bd-highlight">
                <button class="btn btn-success" @onclick="AddRequest">Add Request</button>
            </div>
        </div>
        <button type="button" class="btn btn-primary" @onclick="SaveNewTestPlanAsync">Save</button>
    </EditForm>
</div>

@code{
    private LoadTestScriptViewModel model = new LoadTestScriptViewModel();
    private RenderFragment TableRows { get; set; }

    RenderFragment CreateRequest(IEnumerable<RequestViewModel> requests) => builder =>
    {
        builder.OpenComponent(0, typeof(ChildRequestForm));
        builder.AddAttribute(1, "Requests", requests);
        builder.CloseComponent();
    };

    private void AddRequest()
    {
        model.Requests ??= new List<RequestViewModel>();
        model.Requests.Add(new RequestViewModel());

        RenderComponent(model.Requests);
    }

    private void RenderComponent(IEnumerable<RequestViewModel> requestList)
    {
        TableRows = CreateRequest(requestList);
    }

    private async void SaveNewTestPlanAsync()
    {
        HttpContent content = new StringContent(JsonSerializer.Serialize(model), Encoding.UTF8, "application/json");
        var result = await Client.PostAsync("http://localhost:5000/api/loadtestscript", content);

        if (result.IsSuccessStatusCode)
            Navigator.NavigateTo("/loadtestscripts");
    }
}

